/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200');

body {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    letter-spacing: 0.4em;
    margin: 0;
    padding: 0;
}